<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
    <title>Resultados</title>

  </head>
  <body>
    <!-- Header -->
    <section id="header">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">
            <img src="/logo.png" alt="Logo Eneagrama">
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <!-- /header -->

          <!-- Tipo 6  -->
        <!-- Main -->

    <section id="main">
      <div class="container-fluid">
        <div class="jumbotron">
          <h1 class="display-4">Resultados</h1>
          <p class="lead">Tipo Seis: El leal.</p>
          <hr class="my-4">
          <p>A continuación, de acuerdo a la puntuación que has obtenido en
          tu cuestionario, este será el indicativo de tus tendencias de personalidad. Todas las
          personas tenemos una personalidad dominante, y otra
          secundaria (llamada “ala”). Así pues, dependiendo de en
          qué área se encuentre tu tendencia de personalidad serás
          una persona más emocional, mental o instintiva –
          visceral (Este test es meramente orientativo y, como
          todos los test de personalidad, ninguno es eficaz al 100%).</p>
          <p>Esta personalidad se caraceriza por ser del tipo comprometido, orientado a la seguridad. Las personas tipo Seis son
            dignas de confianza, trabajadoras y responsables, pero también pueden adoptar una actitud
            defensiva, ser evasivas y muy nerviosas; trabajan hasta estresarse al mismo tiempo que se
            quejan de ello. Suelen ser cautelosas e indecisas, aunque también reactivas, desafiantes y
            rebeldes. Normalmente tienen problemas de inseguridad y desconfianza. En su mejor aspecto,
            los Seis sanos son estables interiormente, seguros de sí mismos, independientes, y apoyan con
            valentía a los débiles e incapaces.</p>
  
        </div>
      </div>




    </section>

    <!--  -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
